# Core Web & API
streamlit
fastapi
uvicorn
pydantic
requests

# Data Processing
pandas
numpy<2.0

# Machine Learning & NLP
scikit-learn
bertopic==0.17.3
sentence-transformers
joblib
xgboost
torch

# Visualization
plotly
matplotlib
seaborn
altair
